<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center">
    <h1>Blogs</h1>
    <h4>{{ blog_count.count }} blog{{ blogs.count|pluralize }} written</h4>
    {% for blog in blogs %}

    <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
    <h5>{{ blog.date|date:'M d Y'|upper }}</h5>
    <p>{{ blog.content|striptags|truncatechars:50 }}</p>
    

    {% endfor %}
</div>