<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <title>Dallas's Portfolio</title>
  </head>
  <body>
    <p class="name">Dallas McGroarty</p>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% static 'Dallas_McGroarty_Resume.pdf'%}" target="_blank">Resume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/dallasmcgroarty" target="_blank">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/dallasmcgroarty/" target="_blank">LinkedIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:all_blogs' %}">Blog</a>
        </li>
    </ul>
    
    {% block content %}  {% endblock %}
  </body>
</html>