{% extends 'base.html' %}

{% block content %}
{% load static %}

<img class="me" src="{% static 'dallas_circle.png' %}" height="300px" width="300px">
<p class="title-projects">Projects</p>
<div class="project-wrap">
    <div class="project-row">
        {% for project in projects %}
        <div class="project-column">
            <img src="{{ project.image.url }}" height=100px width=50px>
            <h2 class="project-title">{{ project.title }}</h2>
            <p class="project-desc">{{ project.description }}</p>
            {% if project.url %}
            <br><a href="{{ project.url }}">Link</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}